body{
    font-family: 'Lato', sans-serif;
}
header{
    padding-top:2em;
    margin:auto;
    text-align: center;
    
   
}
a{
    color:#53C4CC;
    text-decoration: none;
}
.ad{
    display: block;
    text-align: center;
    color:#53C4CC;
    color:black;
    margin: auto;
}
h2{
    color:rgb(44, 185, 196);
    color:black;
}
button{
    margin-top:.1em;
    margin-bottom:2em;
   
    font-size: 1.5rem;
    background-color: rgb(57, 229, 241);
    border-radius: 4%;
    box-shadow: .01em .1em .2em rgba(82, 158, 163, 0.534);

    text-transform: uppercase;
    padding: .5em .7em;
}
span{
    color:rgb(44, 185, 196);
   
    font-size: 1em;
    align-items: baseline;
}
footer{
    font-size: 1.3rem;
    text-align: center;
}

.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: black;
  border: 2px solid #53C4CC;;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn-primary {
  background: var(--primaryColor);
  color: black;
  border: 2px solid #53C4CC;;
}
.btn-primary:hover {
  background: #53C4CC;;
  color: white;
}